/* App.css */
.container {
  margin-top: 2rem;
}

form {
  margin-bottom: 2rem;
}

input,
textarea {
  display: block;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}

td,
th {
  padding: 0.5rem;
  border: 1px solid #ccc;
}

td {
  vertical-align: top;
}

th {
  background-color: #f5f5f5;
  text-align: left;
}

button {
  cursor: pointer;
}

button:not(:last-child) {
  margin-right: 0.5rem;
}
